body {	
	background-image: url(../img/pokeholders.jpg); 
}

h1{
    text-align: center;
    color: white;     
}


main, footer {
    background-color: white;
    text-align:center;
}

header{ 
	padding: 30px 0 30px 0;    
}

/* Para telas pequenas (por exemplo, celular) */
@media (max-width: 767px) {
  main {
    margin: 0; /* Remove todas as margens nas laterais */
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
  }
}

/* Para telas maiores (por exemplo, desktop) */
@media (min-width: 768px) {
  main {
    border-top: solid 1px black;
    border-left: solid 1px black;
    border-right: solid 1px black;
    margin-left: 40px; 
    margin-right: 40px; 
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
  }
}


/* Para telas pequenas (por exemplo, celular) */
@media (max-width: 767px) {
  footer {
    margin: 0; /* Remove todas as margens nas laterais */
    margin-bottom: 20px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
  }
}

/* Para telas maiores (por exemplo, desktop) */
@media (min-width: 768px) {
  footer {
    border-bottom: solid 1px black;
    border-left: solid 1px black;
    border-right: solid 1px black;
    margin-left: 40px; 
    margin-right: 40px;
    margin-bottom: 20px; 
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
  }
}


p{
    text-align: justify;
    margin-left: 10px;
    margin-right: 10px;
}

h2{
    text-align:center;
}

nav{
    border-radius: 10px;
}

:root{
  --corPrimaria: #e3e3e4;
  --corSecundaria: #61677A;
  --corPrimariaB: #D8D9DA;
  --corSecundariaB: #FFF6E0;
}

.bg-cinza{
  background-color: var(--corPrimaria);
}

.contorno{
     -webkit-text-stroke: 1px black;
}

.sombra:hover{
filter: brightness(70%);
    transition: filter 0.3s ease;
}